[submodule "docs-site"]
	path = docs-site
	url = https://github.com/CoooderSan/trellis-docs.git
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/CoooderSan/trellis-marketplace.git
